<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container mt-3">

    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <h3 class="text-center"> Detalles del Pedido </h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <div class="form-group">
                <label for="nombre"> Cliente </label>
                <input disabled type="text" class="form-control" id="nombre" name="nombre"
                       th:value="${pedido.getClientePedido().getNombre()} + ' ' + ${pedido.getClientePedido().getApellido()}" maxlength="250">
            </div>
            <div class="form-group">
                <label for="apellido"> Precio Total </label>
                <input disabled type="text" class="form-control" id="apellido" name="apellido"
                       th:value="${pedido.getMonto()}" max="250">
            </div>
            <div class="row">
                <div class="col-12">
                    Lista de Productos
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12 mt-2">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col"> Producto </th>
                            <th scope="col"> Cantidad </th>
                            <th scope="col"> Precio </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pedPro : ${pedido.getPedidoProductoList()}">
                            <td style="vertical-align: middle" th:text="${pedPro.getProducto().getNombre()}" >  </td>
                            <td style="vertical-align: middle" th:text="${pedPro.getCantidad()}" ></td>
                            <td style="vertical-align: middle" th:text="${pedPro.getPrecio()}" ></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</div>

<script th:replace="layout/layout :: scripts"></script>
<script th:src="@{/js/cliente/registrar.js}"></script>
</body>
</html>